{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
 <!-- about section -->
  <section class="about_section layout_padding2">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          <span class="design_dot"></span>
          About The Project
        </h2>
      </div>
      <div class="col-md-9 mx-auto px-0">
        <div class="detail-box">
            <p>
            The Project entitled “CARDIO-ALLY” Proposed by Bipin Thapa for the Partial Fulfillment of the requirement for Bachelor in Computer Application (BCA), Sixth semester has been approved for further development.
            </p>
      </div>
      </div>
    </div>
  </section>
<section class="about_section layout_padding2">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          <span class="design_dot"></span>
          About Me
        </h2>
      </div>
      <div class="col-md-9 mx-auto px-0">
        <div class="detail-box">
            <p>
            <ul>Submitted by Bipin Thapa</ul>
            <ul>Year/part: 2076 / Sixth Semester</ul>
            <ul>University Registration Number: 6-2-22-726-2019</ul>
            </p>
      </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}